<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!!!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="/global.css" />
</head>
<body>
    <h1 id = "prompt" ><%= message %></h1><br><br><br>
    <button id = "login" onclick = "window.location.href = '/login'">
        Log In
    </button>
</body>
</html>