<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!!!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="/global.css" />
</head>
<body>
    <h1 id = "header" >Sign Up</h1></h1>
    <% if (message) { %>
      <h2><%= message %> </h2>
    <% } %>
    <form action="/register" method = "POST">
        <label for="userName">Username:</label><br>
        <input type="text" id = "userName" name = "userName" value="John" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name = "password" value="examplepassword" required><button id = "show" type = "button">X</button>
        <br>
        <button id = "register" type = "submit">Sign Up</button>
        <br>
        <br>
        <br>
    </form>
    <button id = "login" onclick = "window.location.href = '/login'">
      Log In
    </button>
    <script src = "/global.js"></script>
</body>
</html>